.container-display{
    width: 100%;
    background-color: rgb(252, 252, 252);
}

.navbar{
    width: 100%;
    background-color: white;
    padding: 20px;
    /* box-shadow: 2px 2px 50px 2px lightgray; */
}

.display{
    display: flex;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 10px;
    gap: 5px;
    width: 120px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
}

.display-name{
    font-size: 20px;
    margin-left: 2px;
}

.img1{
    width: 25px;
    height: 25px;
}

.img2{
    width: 25px;
    height: 25px;
    margin-left: -4px;
}

.line-break{
    border: 0.5px solid lightgray;
    width: 100%;
    margin-bottom: 30px;
}

.options{
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 50px 2px lightgray;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 50px 2px lightgray;
    position: absolute;
    z-index: 9;
    margin-top: 10px;
}

.grouping{
    display: flex;
    width: 260px;
    align-content: center;
    justify-content: space-between;
    margin: 10px;
}

.groupingName{
    color: gray;
    font-size: 18px;
}

.groupingSelected{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 80px;
    padding: 0px 10px;
    gap: 8px;
    cursor: pointer;
}

.groupingChosen{
    font-weight: bold;
}

.groupingDiv{
    background-color: white;
    width: 100px;
    position: absolute;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 35px;
    z-index: 99;
}

.groupingChoose{
    display: block;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
}

.groupingSect{
    border: 1px solid rgb(237, 233, 233);
    width: 100%;
}

.ordering{
    display: flex;
    width: 260px;
    align-content: center;
    justify-content: space-between;
    margin: 10px;
}

.orderingName{
    color: gray;
    font-size: 18px;
}

.orderingChosen{
    font-weight: bold;
}

.orderingSelected{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 80px;
    padding: 0px 10px;
    cursor: pointer;
    /* gap: 8px; */
}

.orderingDiv{
    background-color: white;
    width: 100px;
    position: absolute;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 35px;
    z-index: 99;
}

.orderingChoose{
    display: block;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
}

.img3{
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-right: 5px;
    position: relative;
}